{% include header.html %}

{% if site.layout == 'stacked' %}
  <div class="container-lg py-6 p-responsive text-center">
    {% include masthead.html metadata=true %}

      <div class="my-6">
        <p class="f5"><a href="/" class="d-flex flex-items-center" style="color: #ffffff">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#ffffff aria-label:Home %}Home</a></p>
        <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>{{ page.category }}</h2>
        <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Related to all things {{ page.category }}.</p>
        <div class="d-sm-flex flex-wrap gutter-condensed mb-4">
            {% assign category_posts = site.posts | where: "category", page.category %}
            {% for post in category_posts %}
              <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
              {% include post-card.html %}
              </div>
            {% endfor %}
        </div>
      </div>
  </div>
{% else %}
  <div class="d-md-flex min-height-full {% unless site.style == 'dark' %}border-md-bottom{% endunless %}">
    <div class="flex-self-stretch {% if site.style == 'dark' %}bg-gray-dark{% else %}border-md-right border-gray-light bg-white{% endif %} col-md-5 col-lg-4 col-xl-3 px-4 px-md-6 px-lg-7 py-6">
      {% include masthead.html metadata=true %}
    </div>

    <div class="col-md-7 col-lg-8 col-xl-9 px-4 py-6 px-lg-7 border-top border-md-top-0 bg-gray-light" {% if site.style == 'dark' %}style="background-color: #479593 !important"{% endif %}>
      <div class="mx-auto" style="max-width: 900px;">
        <p class="f5"><a href="/" class="d-flex flex-items-center" style="color: #ffffff">{% octicon chevron-left height:16 class:"mr-2 v-align-middle" fill:#ffffff aria-label:Home %}Home</a></p>
        <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>{{ page.category }}</h2>
        <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Related to all things {{ page.category }}.</p>
        {% assign category_posts = site.posts | where: "category", page.category %}
        {% for post in category_posts %}
          <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
          {% include post-card.html %}
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
{% endif %}

{% include footer.html %}